<h1>가계장부작성 페이지입니다</h1>
<p>작성하고 제출을 누르세요 :)</p>

<form action="/home/create" method="post">
  지출내용: <input type="text" name="title"><br>
  지출금액: <input type="text" name="content"><br>
  <input type="submit" value="제출">
</form>